{% extends 'main/main.html' %} {% block content %}

<div class="container-fluid">
    <div class="cards_container">
        <div class="card text-white mb-3 mt-3" style="max-width: 18rem;">
            <div class="card-header">News</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div class="card text-white  mb-3 mt-3" style="max-width: 18rem;">
            <div class="card-header">Weather</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div class="card text-white mb-3 mt-3" style="max-width: 18rem;">
            <div class="card-header">Lotto </div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div class="card text-white mb-3 mt-3" style="max-width: 18rem;">
            <div class="card-header">Exchange Rate</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>

    </div>

    <div class="chart_container">
        <div class="card">
            <div class="card-header">charts</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="325"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-header">charts</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-header">charts</div>
            <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}